<!DOCTYPE html>
<html>
<head>
<title>movies</title>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="view/login.css">
    <!-- <link rel="stylesheet" href="view/style.css"> -->

</head>
<body >
    <div class="body"> 
        <div class="card">
            <h3>log in</h3>
            <form action="/check-twitter/login" method="POST">
            <label> Enter User Name</label>
            <input type="text" id="name">
            <label> Enter User password</label>
            <input type="password" id="password">
           
            <button type="submit"class="w-btn"></i> submit</button>
            <button type="reset" class="s-btn">cancel</button>
            
         </form> 
         <div class="registration">
            <a  href="/check-twitter/registration"> registration now</a>
           </div>
        </div>
    </div>
</body>
</html>